<div class="container mt-5 mb-5">
<div class="row">
<h1>イベント登録</h1>

<%= form_with model: @post_event, url: public_post_events_path, method: :post do |f| %>
  <div class="field">
    <%= f.label "●ジャンル" %>
    <div class="col-2 align-self-start">
    <%= f.collection_select :genre_id, Genre.all, :id, :genre, { prompt: "--選択して下さい--" }, class: "form-control" %>
    </div>
  </div>
  </div>
<br>
  <div class="row">
    <p>●開催期間</p>
  </div>

    <div class="row">
    <div class="col-2">
  <div class="field">
    <%= f.label "開始日" %>
    <%= f.date_field :start_date %>
  </div>
  </div>
    <div class="col-2">
  <div class="field">
    <%= f.label "終了日" %>
    <%= f.date_field :end_date %>
  </div>
  </div>
  </div>

  <div class="row">
  <div class="field">
     <div class="col-4">
    <%= f.label :body %>
    <%= f.text_field :body, class:"form-control" %>
    </div>
  </div>

  <div class="field">
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>

  <div class="field">
    <%= f.label :member_id %>※複数選択可能
    <% Zb.all.each do |zb| %>
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        <%= zb.zb_name %>
      </label>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

</div>
</div>
