<header class="shadow-sm">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-secondary text-white-decoration-none link-light">
    <div class="container-fluid">

      <div class="row justify-content-center">
        <%= link_to root_path do %>
          Z_Rose_peninf
        <% end %>
      </div>


      <di v>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown" style="text-end" >
        <ul class="navbar-nav ml-auto">
        <% if admin_signed_in? %>
          <li class="nav-item">
            <%#= link_to "イベント一覧", admin_items_path %>
          </li>
          <li class="nav-item">
            <%= link_to "カテゴリ一覧", admin_genres_path %>
          </li>
          <li class="nav-item">
            <%= link_to "管理者ログアウト", destroy_admin_session_path %>
          </li>

         <!--顧客側-->
      <% elsif member_signed_in? %>
      <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        <button type="button" class="btn btn-light"><%= link_to "About", about_path %></button>

        <div class="btn-group" role="group">
          <button id="btnGroupDrop1" type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            マイページ
          </button>
        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <li><a class="dropdown-item" href="#">いいね一覧</a></li>
          <li><a class="dropdown-item" href="#">投稿</a></li>
          <li><a class="dropdown-item" href="#">編集</a></a></li>
        </ul>
        </div>

        <div class="btn-group" role="group">
          <button id="btnGroupDrop1" type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            イベント一覧
          </button>
        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <li><a class="dropdown-item"><%= link_to(public_post_events_path, class:"text-dark") do %>カフェ<% end %></a></li>
          <li><a class="dropdown-item" href="#">広告</a></li>
          <li><a class="dropdown-item" href="#">グッズ</a></a></li>
        </ul>
        </div>

        <button type="button" class="btn btn-light"><%= link_to "ログアウト", destroy_member_session_path, method: :delete %></button>
        <button type="button" class="btn btn-light"><%= link_to "言語選択" %></button>
      </div>

       <% else %>
       <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        <button type="button" class="btn btn-light"><%= link_to "About", about_path %></button>

        <div class="btn-group" role="group">
          <button id="btnGroupDrop1" type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            イベント一覧
          </button>
        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <li><a class="dropdown-item" href="#"><%= link_to "カフェ", public_post_events_path %></a></li>
          <li><a class="dropdown-item" href="#">広告</a></li>
          <li><a class="dropdown-item" href="#">グッズ</a></a></li>
        </ul>
        </div>

        <button type="button" class="btn btn-light"><%= link_to "新規登録", new_member_registration_path %></button>
        <button type="button" class="btn btn-light"><%= link_to "ログイン",new_member_session_path %></button>
        <button type="button" class="btn btn-light"><%= link_to "言語選択" %></button>

      </div>
      <% end %>
    </div>
   </div>
  </nav>
</header>

